<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Attend this event:</strong>
  <%= link_to "Join", event_participatings_path(@event), method: "post" %>
</p>
<% if user_signed_in? %>
  <%= form_with model: EventParticipating.new do |form| %>
    <%= form.hidden_field :event_id, value: @event.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.submit "Join", class: "button" %>
  <% end %>
<% end %>

<div>
  <% @events.each do |e| %>
    <% e.participants.each do |p| %>
      <p><%= p.username %></p>
    <% end %>
  <% end %>
</div>

<hr />
<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Back', events_path %>
