<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Attend this event:</strong>
</p>
<% if user_signed_in? && current_user != @event.creator %>
  <% unless @event.participants.where(id: current_user.id).exists? %>
    <%= form_with model: EventParticipating.new do |form| %>
      <%= form.hidden_field :event_id, value: @event.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit "Enroll", class: "button" %>
    <% end %>
  <% else %>
    <%# <%= form_with model: EventParticipating, method: :delete do |form| %>
      <%# <%= form.hidden_field :event_id, value: @event.id %>
      <%# <%= form.hidden_field :user_id, value: current_user.id %>
      <%# <%= form.submit "Disenroll", class: "button" %>
    <%# <% end %>
    <% @event.event_participatings.each do |e| %>
      <% if e.user_id == current_user.id %>
        <%= link_to "Disenroll", e, method: :delete, class: "button" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div>
  <% @events.each do |e| %>
    <% e.participants.each do |p| %>
      <p><%= p.username %></p>
    <% end %>
  <% end %>
</div>

<hr />
<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Back', events_path %>
