<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Attend this event:</strong>
  <%= link_to "Join", event_participatings_path(@event), method: "post" %>
</p>


<div>
  <% @events.each do |e| %>
    <% e.participants.each do |p| %>
      <p><%= p.username %></p>
    <% end %>
  <% end %>
</div>

<hr />
<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Back', events_path %>
